@charset "UTF-8";

  
.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.board {
    width: 80%;
    margin: 50px auto;
    background: white;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tableHead {
    display: flex;
    justify-content: space-between;
}

.board th {
    text-align: center;
}

.board td {
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

.board td a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}

tr td:first-child {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.board a:hover {
    color: rgb(79, 219, 79);
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.page {
		margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page > a {
    margin: 0 10px;
    text-decoration: none;
}

.page > a:hover {
		color: rgb(79, 219, 79);
}

input[type="button"] {
	width: 100px;
	height: 30px;
	border: none;
	color: white;
	background-color: black;
}
input[type="submit"] {
	width: 100px;
	height: 30px;
	border: none;
	color: white;
	background-color: black;
}
input[type="reset"] {
	width: 100px;
	height: 30px;
	border: none;
	color: white;
	background-color: black;
}

footer{
    width: 100%;
    height: 300px;
    font-size: 100px;
    background-color: black;
    border: 2px solid black;
    color: white;

}