@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    /* 폰트사이즈, 구글폰트, 글자간격 */ 
}

header {
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 10;
}

ul > a {
    text-decoration: none;
    font-style: italic;
    font-size: 35px;
    color: white;
    font-weight: 800;
}
/* 메뉴css */
ul {
    border: 1px dotted black;
    list-style: none;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul > li { 
    display: inline-block;
    width: 100px;
    padding: 10px 2px; 
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
ul > li > a {
    text-decoration: none;
    color: white;
}

ul > li > div > a { 
    text-decoration: none;
    display: inline-block;
    color: black;
    width: 50px;

    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

}
ul  > li:hover > a {
    color: rgb(79, 219, 79)
}

.dropdown {
    position: relative;
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    z-index: 1;
    top: 35px;
    box-shadow: 10px 15px 7px black;
} 

.dropdown-content a{
    display: block;
    padding: 20px 20px;
} 

.dropdown-content a:hover{
    color: rgb(79, 219, 79)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header_right {
    display: flex;
    justify-content: flex-end;
}